<div class="roadmap_component" data-component>
    <h2 class="main-title">
        course detailed
        <br>
        <span>
            roadmap
        </span>
    </h2>
    <div class="roadmap_component-wrapper">
        <div class="roadmap_component-wrapper-steps">
            <div class="wrapper-step">
                01
            </div>
            <div class="wrapper-step wrapper-step-2">
                02
            </div>
            <div class="wrapper-step wrapper-step-3">
                03
            </div>
            <div class="wrapper-step">
                04
            </div>
        </div>
        <div class="roadmap_component-wrapper-weeks">
            <div class="roadmap_component-wrapper-week">
                <h3 class="week-title">
                    WEEKS 1-3: Foundation. Build Your Base
                </h3>
                <div class="week-content">
                    <div class="week-content-video content-video-1">
                        <div class="content-video-wrp">
                        <video src="../../assets/video/v-1.mp4" preload="metadata" autoplay playsinline muted></video>
                        </div>
                        <p class="week-content-video-subTitle">
                            Time: 15-20 min/session<br>3-4 session/week
                        </p>
                    </div>
                    <div class="week-content-row">
                    <div class="week-content-infoColumn infoColumn-1">
                        <h4 class="week-content-infoColumn-title">
                            What You'll Feel:
                        </h4>
                        <p class="week-content-infoColumn-text">
                            <img loading="lazy" src="../../assets/images/check.png" alt="">
                            Less stiffness after long day
                        </p>
                        <p class="week-content-infoColumn-text">
                            <img loading="lazy" src="../../assets/images/check.png" alt="">
                            Standing up feels lighter
                        </p>
                        <p class="week-content-infoColumn-text">
                            <img loading="lazy" src="../../assets/images/check.png" alt="">
                            Learn proper breathing & positioning
                        </p>
                    </div>
                    <div class="week-content-infoColumn infoColumn-2">
                        <h4 class="week-content-infoColumn-title">
                            Focus Areas:
                        </h4>
                        <p class="week-content-infoColumn-text">
                            <img loading="lazy" src="../../assets/images/check.png" alt="">
                            Hip flexor release
                        </p>
                        <p class="week-content-infoColumn-text">
                            <img loading="lazy" src="../../assets/images/check.png" alt="">
                            Basic external rotation
                        </p>
                        <p class="week-content-infoColumn-text">
                            <img loading="lazy" src="../../assets/images/check.png" alt="">
                            Gentle adductor opening
                        </p>
                        <p class="week-content-infoColumn-text">
                            <img loading="lazy" src="../../assets/images/check.png" alt="">
                            Psoas decompression
                        </p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="roadmap_component-wrapper-week">
                <h3 class="week-title">
                    WEEKS 4-7: Progression. Active ranges 
                </h3>
                <div class="week-content">
                    <div class="week-content-video content-video-2">
                        <p class="week-content-video-subTitle">
                            Time: 15-20 min/session<br>3-4 session/week
                        </p>
                        <div class="content-video-wrp">
                        <video src="../../assets/video/v-2.mp4" preload="metadata" autoplay playsinline muted ></video>
                        </div>
                    </div>
                    <div class="week-content-row">
                    <div class="week-content-infoColumn infoColumn-3">
                        <h4 class="week-content-infoColumn-title">
                            What You'll Feel:
                        </h4>
                        <p class="week-content-infoColumn-text">
                            <img loading="lazy" src="../../assets/images/check.png" alt="">
                            Squats getting noticeably deeper
                        </p>
                        <p class="week-content-infoColumn-text">
                            <img loading="lazy" src="../../assets/images/check.png" alt="">
                            Can sit cross-legged without pain
                        </p>
                        <p class="week-content-infoColumn-text">
                            <img loading="lazy" src="../../assets/images/check.png" alt="">
                            Hip circles feel smooth and easy
                        </p>
                    </div>
                    <div class="week-content-infoColumn infoColumn-4">
                        <h4 class="week-content-infoColumn-title">
                            Focus Areas:
                        </h4>
                        <p class="week-content-infoColumn-text">
                            <img loading="lazy" src="../../assets/images/check.png" alt="">
                            Internal rotation work
                        </p>
                        <p class="week-content-infoColumn-text">
                            <img loading="lazy" src="../../assets/images/check.png" alt="">
                            Deep hip openers
                        </p>
                        <p class="week-content-infoColumn-text">
                            <img loading="lazy" src="../../assets/images/check.png" alt="">
                            Movement control in new range
                        </p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="roadmap_component-wrapper-week">
                <h3 class="week-title">
                    WEEKS 8-10:  Mobilize & Advance
                </h3>
                <div class="week-content">
                    <div class="week-content-video content-video-3">
                        <div class="content-video-wrp">
                        <video src="../../assets/video/v-3.mp4" preload="metadata" autoplay playsinline muted></video>
                        </div>
                        <p class="week-content-video-subTitle">
                            Sessions: 20-25 min,<br>3-4x/week
                        </p>
                    </div>
                    <div class="week-content-row">
                    <div class="week-content-infoColumn infoColumn-5">
                        <h4 class="week-content-infoColumn-title">
                            What You'll Feel: 
                        </h4>
                        <p class="week-content-infoColumn-text">
                            <img loading="lazy" src="../../assets/images/check.png" alt="">
                            Movements feel natural again
                        </p>
                         <p class="week-content-infoColumn-text">
                            <img loading="lazy" src="../../assets/images/check.png" alt="">
                            Lower back pain significantly reduced
                        </p>
                         <p class="week-content-infoColumn-text">
                            <img loading="lazy" src="../../assets/images/check.png" alt="">
                            Increased range of motion
                        </p>
                    </div>
                    <div class="week-content-infoColumn infoColumn-6">
                        <h4 class="week-content-infoColumn-title">
                            Focus Areas:
                        </h4>
                        <p class="week-content-infoColumn-text">
                            <img loading="lazy" src="../../assets/images/check.png" alt="">
                            Resch Split prep & progressions
                        </p>
                        <p class="week-content-infoColumn-text">
                            <img loading="lazy" src="../../assets/images/check.png" alt="">
                            Hamstring & adductor focus
                        </p>
                        <p class="week-content-infoColumn-text">
                            <img loading="lazy" src="../../assets/images/check.png" alt="">
                            Full hip opening sequences
                        </p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="roadmap_component-wrapper-week">
                <h3 class="week-title">
                    WEEKS 11-13 Mastery. Advanced — Upgrade Your Range
                </h3>
                <div class="week-content">
                    <div class="week-content-video content-video-4">
                        <p class="week-content-video-subTitle">
                            Sessions: 20-25 min,<br>3-4x/week
                        </p>
                        <div class="content-video-wrp">
                        <video src="../../assets/video/v-4.mp4" preload="metadata" autoplay playsinline muted></video>
                        </div>
                    </div>
                    <div class="week-content-row">
                    <div class="week-content-infoColumn infoColumn-7">
                        <h4 class="week-content-infoColumn-title">
                            What You'll Feel: 
                        </h4>
                        <p class="week-content-infoColumn-text">
                            <img loading="lazy" src="../../assets/images/check.png" alt="">
                            Move with power AND flexibility
                        </p>
                        <p class="week-content-infoColumn-text">
                            <img loading="lazy" src="../../assets/images/check.png" alt="">
                            Progress in amplitude & control
                        </p>
                        <p class="week-content-infoColumn-text">
                            <img loading="lazy" src="../../assets/images/check.png" alt="">
                            Complete hip freedom in all directions
                        </p>
                    </div>
                    <div class="week-content-infoColumn infoColumn-8">
                        <h4 class="week-content-infoColumn-title">
                            Focus Areas:
                        </h4>
                        <p class="week-content-infoColumn-text">
                            <img loading="lazy" src="../../assets/images/check.png" alt="">
                            Splits progressions
                        </p>
                        <p class="week-content-infoColumn-text">
                            <img loading="lazy" src="../../assets/images/check.png" alt="">
                            Advanced active flexibility
                        </p>
                        <p class="week-content-infoColumn-text">
                            <img loading="lazy" src="../../assets/images/check.png" alt="">
                            Strength in end ranges
                        </p>
                        <p class="week-content-infoColumn-text">
                            <img loading="lazy" src="../../assets/images/check.png" alt="">
                            Full movement integration
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>