@charset "UTF-8";
/* ШРИФТОВА БІБЛІОТЕКА (В алфавітному порядку)
   Підключаються тільки ті файли, які реально використані в проекті.
*/
@font-face {
  font-family: "Bebas Neue";
  src: url("~@fonts/bebasneuethin.woff2") format("woff2"), url("~@fonts/bebasneuethin.woff") format("woff"), url("~@fonts/bebasneuethin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("~@fonts/bebasneuelight.woff2") format("woff2"), url("~@fonts/bebasneuelight.woff") format("woff"), url("~@fonts/bebasneuelight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("~@fonts/bebasneuebook.woff2") format("woff2"), url("~@fonts/bebasneuebook.woff") format("woff"), url("~@fonts/bebasneuebook.ttf") format("truetype");
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("~@fonts/bebasneueregular.woff2") format("woff2"), url("~@fonts/bebasneueregular.woff") format("woff"), url("~@fonts/bebasneueregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("~@fonts/bebasneuebold.woff2") format("woff2"), url("~@fonts/bebasneuebold.woff") format("woff"), url("~@fonts/bebasneuebold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Cramaten;
  src: url("~@fonts/cramaten.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cyrillic Custom";
  src: url("~@fonts/cyrillic400.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Latin Custom";
  src: url("~@fonts/latin400.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: HalloWitch;
  src: url("~@fonts/HalloWitch.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue Cyr";
  src: url("~@fonts/HelveticaNeueCyr-Light.woff2") format("woff2"), url("~@fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("~@fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue Cyr";
  src: url("~@fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("~@fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("~@fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LeagueGothic-Regular";
  src: url("~@fonts/LeagueGothic-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Manrope;
  src: url("~@fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Manrope;
  src: url("~@fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: Montserrat, sans-serif;
  src: url("~@fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Montserrat, sans-serif;
  src: url("~@fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Songer Condensed";
  src: url("~@fonts/SONGERCondensed.woff2") format("woff2"), url("~@fonts/SONGERCondensed.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Steelfish;
  src: url("~@fonts/SteelfishRg-Regular.woff2") format("woff2"), url("~@fonts/SteelfishRg-Regular.woff") format("woff"), url("~@fonts/SteelfishRg-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Steelfish;
  src: url("~@fonts/SteelfishRg-Bold.woff2") format("woff2"), url("~@fonts/SteelfishRg-Bold.woff") format("woff"), url("~@fonts/SteelfishRg-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: Steelfish;
  src: url("~@fonts/SteelfishOutline-Regular.ttf") format("truetype");
  font-weight: 400;
  font-variant: outline;
  font-display: swap;
}
