<div class="got-you_body" data-component>
    <h2 class="main-title">
        We Got You !
    </h2>
    <div class="got-you_component">
        <div class="got-you_component-shadow-1"></div>
        <div class="got-you_component-shadow-2"></div>
        <div class="got-you_component-shadow-3"></div>
        <div class="got-you_component-shadow-4"></div>
        <div class="got-you_component-content">
            <div class="got-you_component-content-gap">
            <div class="got-you_component-content-item">
                <h3 class="content-item-title item-title-1">
                     I'm really stiff. Too stiff for this?
                </h3>
                <div class="content-item-wrapper item-wrapper-1">
                    <p class="content-item-text">
                        <span>✅ Perfect. That's who this is for</span><br>We start where YOU are. Access for 3 Months lets you come back to any workout and improve through
                    </p>
                    <img loading="lazy" src="../../assets/images/got-img-1.webp" class="got-img-1" alt="">
                </div>
            </div>
            <div class="got-you_component-content-item">
                <h3 class="content-item-title item-title-2">
                    I don't have time for this
                </h3>
                <div class="content-item-wrapper item-wrapper-2">
                    <img loading="lazy" src="../../assets/images/got-img-2.webp" class="got-img-2" alt="">
                    <p class="content-item-text">
                        <span>✅ Train Anywhere Anytime</span><br>Your hips are locked from 50+ hours of sitting per week.  10-20 minutes of targeted work prevents years of pain, surgery, and immobility
                    </p>
                </div>
            </div>
            </div>
            <div class="got-you_component-content-item">
                <h3 class="content-item-title item-title-3">
                    What makes this different?
                </h3>
                <div class="content-item-wrapper item-wrapper-3">
                    <p class="content-item-text">
                        <span>✅ Systematic 4-step progression</span><br>Start gentle. Add active control. Deep hip opening full sequences. Control your range. Own it. Repeat as needed.
                    </p>
                    <img loading="lazy" src="../../assets/images/got-img-3.webp" class="got-img-3" alt="">
                </div>
            </div>
        </div>
    </div>
</div>