<section class="component-card" id="card-got-you_component" data-name="got-you_component">
  <style>.got-you_component {
  box-shadow: 0 4px 48px 0 rgba(0, 0, 0, 0.25);
  background: rgba(250, 255, 251, 0.1);
  border-radius: 70px;
  padding: 40px 10px;
  margin-top: 30px;
  max-width: 1244px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.got-you_component-shadow-4, .got-you_component-shadow-3, .got-you_component-shadow-2, .got-you_component-shadow-1 {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
}
.got-you_component-shadow-4 {
  box-shadow: 0 0 80px 80px #c5ffa2;
  right: 30px;
  bottom: 150px;
}
.got-you_component-shadow-3 {
  box-shadow: 0 0 100px 100px #3f9f6b;
  bottom: 120px;
  left: 90px;
}
.got-you_component-shadow-2 {
  box-shadow: 0 0 100px 100px #3f9f6b;
  right: 100px;
  top: 140px;
}
.got-you_component-shadow-1 {
  box-shadow: 0 0 80px 80px #c5ffa2;
  left: 100px;
  top: 100px;
}
.got-you_component-content-item {
  padding-bottom: 17px;
}
.got-you_component .content-item-title {
  font-weight: 600;
  font-size: clamp(0.9375rem, 0.8324048913rem + 0.4945652174vw, 1.27875rem);
  line-height: 131%;
  max-width: clamp(19.5625rem, 18.4268568841rem + 5.3442028986vw, 23.25rem);
  text-align: center;
  color: #000;
  display: block;
  background-image: url(./assets/images/got-img-twrap.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 15px 25px 15px 15px;
  margin-bottom: 12px;
}
.got-you_component .content-item-wrapper {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.got-you_component .content-item-wrapper .content-item-text {
  font-weight: 500;
  font-size: clamp(0.75rem, 0.658763587rem + 0.4293478261vw, 1.04625rem);
  line-height: 136%;
  padding: 15px 15px 15px 25px;
  color: #fff;
  background-image: url(./assets/images/got-img-wrap.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.got-you_component .content-item-wrapper .content-item-text span {
  font-weight: 700;
}
.got-you_component .content-item-wrapper img {
  object-fit: contain;
  position: absolute;
}
.got-you_component .content-item-wrapper .got-img-1 {
  width: clamp(5.3125rem, 4.5618206522rem + 3.5326086957vw, 7.75rem);
  bottom: -15px;
  right: 0;
}
.got-you_component .content-item-wrapper .got-img-2 {
  width: clamp(5.625rem, 4.4932065217rem + 5.3260869565vw, 9.3rem);
  bottom: 0;
  left: 0;
}
.got-you_component .content-item-wrapper .got-img-3 {
  width: clamp(8.6875rem, 6.828125rem + 8.75vw, 14.725rem);
  bottom: -15px;
  right: 0;
}
.got-you_component .item-wrapper-1 {
  padding-right: 18%;
  max-width: clamp(25rem, 23.7488677536rem + 5.8876811594vw, 29.0625rem);
}
.got-you_component .item-wrapper-2 {
  padding-left: 12%;
  max-width: clamp(28.125rem, 27.4782608696rem + 3.0434782609vw, 30.225rem);
}
.got-you_component .item-wrapper-2 .content-item-text {
  padding: 15px 15px 15px 59px;
}
.got-you_component .item-wrapper-3 {
  padding-right: 18%;
  max-width: clamp(25rem, 23.7488677536rem + 5.8876811594vw, 29.0625rem);
}
.got-you_component .item-wrapper-3 .content-item-text {
  padding: 15px 30px 15px 25px;
}

@media (min-width: 500px) {
  .got-you_component .content-item-wrapper .content-item-text {
    padding: 20px 20px 20px 30px;
  }
  .got-you_component .item-wrapper-2 .content-item-text {
    padding: 20px 20px 20px 60px;
  }
  .got-you_component .item-wrapper-3 .content-item-text {
    padding: 20px 50px 20px 30px;
  }
}
@media (min-width: 600px) {
  .got-you_component .item-wrapper-2 .content-item-text {
    padding: 20px 20px 20px 80px;
  }
  .got-you_component .item-wrapper-3 .content-item-text {
    padding: 20px 60px 20px 30px;
  }
  .got-you_component-shadow-4 {
    box-shadow: 0 0 100px 100px #c5ffa2;
    width: 50px;
  }
  .got-you_component-shadow-3 {
    box-shadow: 0 0 120px 120px #3f9f6b;
    width: 50px;
  }
  .got-you_component-shadow-2 {
    box-shadow: 0 0 120px 120px #3f9f6b;
    width: 50px;
  }
  .got-you_component-shadow-1 {
    box-shadow: 0 0 100px 100px #c5ffa2;
    width: 50px;
  }
}
@media (min-width: 700px) {
  .got-you_component-shadow-4 {
    box-shadow: 0 0 100px 100px #c5ffa2;
    width: clamp(8.125rem, 5.2570199275rem + 13.4963768116vw, 17.4375rem);
    right: 20%;
  }
  .got-you_component-shadow-3 {
    box-shadow: 0 0 100px 100px rgba(63, 159, 108, 0.6431372549);
    width: clamp(8.125rem, 5.2570199275rem + 13.4963768116vw, 17.4375rem);
    left: 20%;
    bottom: 20%;
  }
  .got-you_component-shadow-2 {
    box-shadow: 0 0 100px 100px rgba(63, 159, 108, 0.6431372549);
    width: clamp(8.125rem, 5.2570199275rem + 13.4963768116vw, 17.4375rem);
    right: 20%;
  }
  .got-you_component-shadow-1 {
    box-shadow: 0 0 100px 100px #c5ffa2;
    width: clamp(8.125rem, 5.2570199275rem + 13.4963768116vw, 17.4375rem);
    left: 20%;
  }
}
@media (min-width: 900px) {
  .got-you_component-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .got-you_component-content-gap {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
  .got-you_component .item-wrapper-3 {
    max-width: clamp(37.5rem, 40.0985054348rem + -12.2282608696vw, 29.0625rem);
  }
  .got-you_component .content-item-wrapper .got-img-3 {
    bottom: -50%;
  }
  .got-you_component .item-wrapper-3 .content-item-text {
    padding: 20px 20px 20px 30px;
    width: clamp(18.75rem, 16.4017210145rem + 11.0507246377vw, 26.375rem);
    max-width: clamp(18.75rem, 16.4017210145rem + 11.0507246377vw, 26.375rem);
  }
  .got-you_component .item-title-2 {
    margin-left: auto;
    max-width: 100%;
    margin-left: 15%;
  }
  .got-you_component .item-title-3 {
    margin-right: auto;
    max-width: 100%;
    margin-right: 15%;
  }
}</style>
  <div class="component-header">
    <h2>got-you_component</h2>
    <div class="component-controls">
      <button class="btn-add" onclick="addToProject('got-you_component')">➕ Add</button>
      <button class="btn-del" onclick="deleteFullComponent('got-you_component')">🗑 Delete</button>
    </div>
  </div>
  <div class="tabs-nav">
    <button class="tab-link active" onclick="openTab(event, 'got-you_component', 'preview')">Preview</button>
    <button class="tab-link" onclick="openTab(event, 'got-you_component', 'html')">HTML</button>
    <button class="tab-link" onclick="openTab(event, 'got-you_component', 'scss')">SCSS</button>
    
  </div>
  <div class="tabs-content">
    <div id="tab-got-you_component-preview" class="tab-panel active">
      <div class="component-body"><div class="got-you_body" data-component>
    <h2 class="main-title">
        We Got You !
    </h2>
    <div class="got-you_component">
        <div class="got-you_component-shadow-1"></div>
        <div class="got-you_component-shadow-2"></div>
        <div class="got-you_component-shadow-3"></div>
        <div class="got-you_component-shadow-4"></div>
        <div class="got-you_component-content">
            <div class="got-you_component-content-gap">
            <div class="got-you_component-content-item">
                <h3 class="content-item-title item-title-1">
                     I'm really stiff. Too stiff for this?
                </h3>
                <div class="content-item-wrapper item-wrapper-1">
                    <p class="content-item-text">
                        <span>✅ Perfect. That's who this is for</span><br>We start where YOU are. Access for 3 Months lets you come back to any workout and improve through
                    </p>
                    <img loading="lazy" src="./assets/images/got-img-1.webp" class="got-img-1" alt="">
                </div>
            </div>
            <div class="got-you_component-content-item">
                <h3 class="content-item-title item-title-2">
                    I don't have time for this
                </h3>
                <div class="content-item-wrapper item-wrapper-2">
                    <img loading="lazy" src="./assets/images/got-img-2.webp" class="got-img-2" alt="">
                    <p class="content-item-text">
                        <span>✅ Train Anywhere Anytime</span><br>Your hips are locked from 50+ hours of sitting per week.  10-20 minutes of targeted work prevents years of pain, surgery, and immobility
                    </p>
                </div>
            </div>
            </div>
            <div class="got-you_component-content-item">
                <h3 class="content-item-title item-title-3">
                    What makes this different?
                </h3>
                <div class="content-item-wrapper item-wrapper-3">
                    <p class="content-item-text">
                        <span>✅ Systematic 4-step progression</span><br>Start gentle. Add active control. Deep hip opening full sequences. Control your range. Own it. Repeat as needed.
                    </p>
                    <img loading="lazy" src="./assets/images/got-img-3.webp" class="got-img-3" alt="">
                </div>
            </div>
        </div>
    </div>
</div></div>
    </div>
    <div id="tab-got-you_component-html" class="tab-panel">
      <pre><code>&lt;div class="got-you_body" data-component&gt;
    &lt;h2 class="main-title"&gt;
        We Got You !
    &lt;/h2&gt;
    &lt;div class="got-you_component"&gt;
        &lt;div class="got-you_component-shadow-1"&gt;&lt;/div&gt;
        &lt;div class="got-you_component-shadow-2"&gt;&lt;/div&gt;
        &lt;div class="got-you_component-shadow-3"&gt;&lt;/div&gt;
        &lt;div class="got-you_component-shadow-4"&gt;&lt;/div&gt;
        &lt;div class="got-you_component-content"&gt;
            &lt;div class="got-you_component-content-gap"&gt;
            &lt;div class="got-you_component-content-item"&gt;
                &lt;h3 class="content-item-title item-title-1"&gt;
                     I'm really stiff. Too stiff for this?
                &lt;/h3&gt;
                &lt;div class="content-item-wrapper item-wrapper-1"&gt;
                    &lt;p class="content-item-text"&gt;
                        &lt;span&gt;✅ Perfect. That's who this is for&lt;/span&gt;&lt;br&gt;We start where YOU are. Access for 3 Months lets you come back to any workout and improve through
                    &lt;/p&gt;
                    &lt;img loading="lazy" src="../../assets/images/got-img-1.webp" class="got-img-1" alt=""&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="got-you_component-content-item"&gt;
                &lt;h3 class="content-item-title item-title-2"&gt;
                    I don't have time for this
                &lt;/h3&gt;
                &lt;div class="content-item-wrapper item-wrapper-2"&gt;
                    &lt;img loading="lazy" src="../../assets/images/got-img-2.webp" class="got-img-2" alt=""&gt;
                    &lt;p class="content-item-text"&gt;
                        &lt;span&gt;✅ Train Anywhere Anytime&lt;/span&gt;&lt;br&gt;Your hips are locked from 50+ hours of sitting per week.  10-20 minutes of targeted work prevents years of pain, surgery, and immobility
                    &lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="got-you_component-content-item"&gt;
                &lt;h3 class="content-item-title item-title-3"&gt;
                    What makes this different?
                &lt;/h3&gt;
                &lt;div class="content-item-wrapper item-wrapper-3"&gt;
                    &lt;p class="content-item-text"&gt;
                        &lt;span&gt;✅ Systematic 4-step progression&lt;/span&gt;&lt;br&gt;Start gentle. Add active control. Deep hip opening full sequences. Control your range. Own it. Repeat as needed.
                    &lt;/p&gt;
                    &lt;img loading="lazy" src="../../assets/images/got-img-3.webp" class="got-img-3" alt=""&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    </div>
    <div id="tab-got-you_component-scss" class="tab-panel"><pre><code>@use "sass:math";

@mixin resize(
  $min,
  $max,
  $property: font-size,
  $min-vw: 340px,
  $max-vw: 1444px
) {
  $min-no-unit: math.div($min, ($min * 0 + 1));
  $max-no-unit: math.div($max, ($max * 0 + 1));
  $min-vw-no-unit: math.div($min-vw, ($min-vw * 0 + 1));
  $max-vw-no-unit: math.div($max-vw, ($max-vw * 0 + 1));

  $min-rem: math.div($min-no-unit, 16);
  $max-rem: math.div($max-no-unit, 16);

  $slope: math.div(
    $max-rem - $min-rem,
    math.div($max-vw-no-unit - $min-vw-no-unit, 16)
  );
  $y-axis: -1 * $min-vw-no-unit * math.div($slope, 16) + $min-rem;

  #{$property}: clamp(
    #{$min-rem}rem,
    #{$y-axis}rem + #{$slope * 100}vw,
    #{$max-rem}rem
  );
}

.got-you_component {
  box-shadow: 0 4px 48px 0 rgba(0, 0, 0, 0.25);
  background: rgba(250, 255, 251, 0.1);
  border-radius: 70px;
  padding: 40px 10px;
  margin-top: 30px;
  max-width: 1244px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &amp;-shadow-4,
  &amp;-shadow-3,
  &amp;-shadow-2,
  &amp;-shadow-1 {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
  }

  &amp;-shadow-4 {
    box-shadow: 0 0 80px 80px #c5ffa2;
    right: 30px;
    bottom: 150px;
  }
  &amp;-shadow-3 {
    box-shadow: 0 0 100px 100px #3f9f6b;
    bottom: 120px;
    left: 90px;
  }
  &amp;-shadow-2 {
    box-shadow: 0 0 100px 100px #3f9f6b;
    right: 100px;
    top: 140px;
  }
  &amp;-shadow-1 {
    box-shadow: 0 0 80px 80px #c5ffa2;
    left: 100px;
    top: 100px;
  }

  &amp;-content-item {
    padding-bottom: 17px;
  }

  .content-item-title {
    font-weight: 600;
    @include resize(15px, 20.46px);
    line-height: 131%;
    @include resize(313px, 372px, max-width);
    text-align: center;
    color: #000;
    display: block;
    background-image: url(../../assets/images/got-img-twrap.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 15px 25px 15px 15px;
    margin-bottom: 12px;
  }

  .content-item-wrapper {
    display: flex;
    align-items: flex-end;
    position: relative;

    .content-item-text {
      font-weight: 500;
      @include resize(12px, 16.74px);
      line-height: 136%;
      padding: 15px 15px 15px 25px;
      color: #fff;
      background-image: url(../../assets/images/got-img-wrap.webp);
      background-repeat: no-repeat;
      background-size: 100% 100%;

      span {
        font-weight: 700;
      }
    }

    img {
      object-fit: contain;
      position: absolute;
    }

    .got-img-1 {
      @include resize(85px, 124px, width);
      bottom: -15px;
      right: 0;
    }
    .got-img-2 {
      @include resize(90px, 148.8px, width);
      bottom: 0;
      left: 0;
    }
    .got-img-3 {
      @include resize(139px, 235.6px, width);
      bottom: -15px;
      right: 0;
    }
  }

  .item-wrapper-1 {
    padding-right: 18%;
    @include resize(400px, 465px, max-width);
  }
  .item-wrapper-2 {
    padding-left: 12%;
    @include resize(450px, 483.6px, max-width);
    .content-item-text {
      padding: 15px 15px 15px 59px;
    }
  }
  .item-wrapper-3 {
    padding-right: 18%;
    @include resize(400px, 465px, max-width);
    .content-item-text {
      padding: 15px 30px 15px 25px;
    }
  }
}

@media (min-width: 500px) {
  .got-you_component .content-item-wrapper .content-item-text {
    padding: 20px 20px 20px 30px;
  }

  .got-you_component .item-wrapper-2 {
    .content-item-text {
      padding: 20px 20px 20px 60px;
    }
  }

  .got-you_component .item-wrapper-3 {
    .content-item-text {
      padding: 20px 50px 20px 30px;
    }
  }
}

@media (min-width: 600px) {
  .got-you_component .item-wrapper-2 {
    .content-item-text {
      padding: 20px 20px 20px 80px;
    }
  }

  .got-you_component .item-wrapper-3 {
    .content-item-text {
      padding: 20px 60px 20px 30px;
    }
  }

  .got-you_component{
    &amp;-shadow-4 {
      box-shadow: 0 0 100px 100px #c5ffa2;
      width: 50px;
    }
    &amp;-shadow-3 {
      box-shadow: 0 0 120px 120px #3f9f6b;
      width: 50px;
    }
    &amp;-shadow-2 {
      box-shadow: 0 0 120px 120px #3f9f6b;
      width: 50px;
    }
    &amp;-shadow-1 {
      box-shadow: 0 0 100px 100px #c5ffa2;
      width: 50px;
    }
  }
}

@media (min-width: 700px){
  .got-you_component{
    &amp;-shadow-4 {
      box-shadow: 0 0 100px 100px #c5ffa2;
      @include resize(130px, 279px, width);
      right: 20%;
    }
    &amp;-shadow-3 {
      box-shadow: 0 0 100px 100px #3f9f6ca4;
      @include resize(130px, 279px, width);
      left: 20%;
      bottom: 20%;
    }
    &amp;-shadow-2 {
      box-shadow: 0 0 100px 100px #3f9f6ca4;
      @include resize(130px, 279px, width);
      right: 20%;
    }
    &amp;-shadow-1 {
      box-shadow: 0 0 100px 100px #c5ffa2;
      @include resize(130px, 279px, width);
      left: 20%;
    }
  }
}

@media(min-width: 900px){
  .got-you_component-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .got-you_component-content-gap{
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .got-you_component{
    .item-wrapper-3{
      @include resize(600px, 465px, max-width);
    }
  }

  .got-you_component .content-item-wrapper .got-img-3{
    bottom: -50%;
  }

  .got-you_component .item-wrapper-3 .content-item-text{
    padding: 20px 20px 20px 30px;
    @include resize(300px, 422px, width);
    @include resize(300px, 422px, max-width);
  }

  .got-you_component .item-title-2{
    margin-left: auto;
    max-width: 100%;
    margin-left: 15%;
  }

  .got-you_component .item-title-3{
    margin-right: auto;
    max-width: 100%;
    margin-right: 15%;
  }
}</code></pre></div>
    
  </div>
  <img src="x" onerror="(function(){ try{  }catch(e){console.error(e)}})();this.remove();" style="display:none;">
</section>