<div class="questions" data-component>
    <h2 class="main-title">
        Frequently
        <br>
        <span>Asked Questions</span>
    </h2>
    <div class="questionsContainer">
        <div class="questionsContainer-item">
            <div class="questionsContainer-item-top">
                <p class="question-text q-main">How can I contact support if I have
                    <br>
                    questions?
                </p>
                <p class="label">
                    +
                </p>
            </div>
            <div class="questionsContainer-item-bottom"
                style="max-height: 0px; overflow: hidden; transition: max-height 0.4s;">
                <p class="question-text">
                    Please contact us at @zubalenok.team on Instagram or support_zubalenok@zbl.agency, and
                    we'll assist you right</p>
            </div>
        </div>
        <div class="questionsContainer-item">
            <div class="questionsContainer-item-top">
                <p class="question-text q-main">I can barely touch my toes. Is this too advanced for me? </p>
                <p class="label">
                    +
                </p>
            </div>
            <div class="questionsContainer-item-bottom"
                style="max-height: 0px; overflow: hidden; transition: max-height 0.4s;">
                <p class="question-text">Not at all. 80% of students start exactly where you are. The program
                    meets you at your level.</p>
            </div>
        </div>
        <div class="questionsContainer-item">
            <div class="questionsContainer-item-top">
                <p class="question-text q-main">Can I use the course on my tablet / PC /
                    TV?</p>
                <p class="label">
                    +
                </p>
            </div>
            <div class="questionsContainer-item-bottom"
                style="max-height: 0px; overflow: hidden; transition: max-height 0.4s;">
                <p class="question-text">
                    The methods for streaming videos to your TV depend on the type of device and the
                    platform you’re registered on. Most commonly, you can use one of the following
                    options:<br><br>1. Through a Smart TV browser<br>2. Through your phone or laptop + Smart
                    TV (using the “Cast” or “Screen Mirroring” function)<br>3. Through an HDMI
                    cable<br><br>Access from a PC is also available, simply open the link to the platform
                    from your email on your computer.
                </p>
            </div>
        </div>



        <div class="questionsContainer-item">
            <div class="questionsContainer-item-top">
                <p class="question-text q-main">Can I get a refund if I don't like the course?</p>
                <p class="label">
                    +
                </p>
            </div>
            <div class="questionsContainer-item-bottom"
                style="max-height: 0px; overflow: hidden; transition: max-height 0.4s;">
                <p class="question-text">
                    Yes, we offer a 14-day money-back guarantee if you’re not satisfied.
                </p>
            </div>
        </div>
        <div class="questionsContainer-item">
            <div class="questionsContainer-item-top">
                <p class="question-text q-main">What are the terms of the money-back guarantee?</p>
                <p class="label">
                    +
                </p>
            </div>
            <div class="questionsContainer-item-bottom"
                style="max-height: 0px; overflow: hidden; transition: max-height 0.4s;">
                <p class="question-text">Just mail support_zubalenok@zbl.agency or DM @zubalenok.team. Provide
                    your Name, Surname, invoice and we will help you out. Refunds take 5-10 days to get
                    proceeded.</p>
            </div>
        </div>
        <div class="questionsContainer-item">
            <div class="questionsContainer-item-top">
                <p class="question-text q-main">Do I need special equipment to
                    participate in the course?</p>
                <p class="label">
                    +
                </p>
            </div>
            <div class="questionsContainer-item-bottom"
                style="max-height: 0px; overflow: hidden; transition: max-height 0.4s;">
                <p class="question-text">You'll only need comfortable workout clothes, a mat for exercises and
                    yoga blocks to make workouts easier.</p>
            </div>
        </div>
        <div class="questionsContainer-item">
            <div class="questionsContainer-item-top">
                <p class="question-text q-main">I don't have yoga blocks. What can I use instead? </p>
                <p class="label">
                    +
                </p>
            </div>
            <div class="questionsContainer-item-bottom"
                style="max-height: 0px; overflow: hidden; transition: max-height 0.4s;">
                <p class="question-text">Thick books, sturdy boxes, stacks of folded towels, or firm cushions all
                    work.

                </p>
            </div>
        </div>
        <div class="questionsContainer-item">
            <div class="questionsContainer-item-top">
                <p class="question-text q-main">Is this the same as Only Flexibility 2.0? </p>
                <p class="label">
                    +
                </p>
            </div>
            <div class="questionsContainer-item-bottom"
                style="max-height: 0px; overflow: hidden; transition: max-height 0.4s;">
                <p class="question-text">No It’s a brand new course. Upgraded version with refined techniques,
                    better structure, and new bonus content based on our students feedback and wishes.</p>
            </div>
        </div>
        <div class="questionsContainer-item">
            <div class="questionsContainer-item-top">
                <p class="question-text q-main">Is the course suitable for pregnant
                    women?</p>
                <p class="label">
                    +
                </p>
            </div>
            <div class="questionsContainer-item-bottom"
                style="max-height: 0px; overflow: hidden; transition: max-height 0.4s;">
                <p class="question-text">Pregnant women are strongly advised to consult with a doctor before
                    starting the course. While many exercises are safe, it’s important to ensure they are
                    suitable for you.</p>
            </div>
        </div>
        <div class="questionsContainer-item">
            <div class="questionsContainer-item-top">
                <p class="question-text q-main">What are the contraindications for
                    participation?</p>
                <p class="label">
                    +
                </p>
            </div>
            <div class="questionsContainer-item-bottom"
                style="max-height: 0px; overflow: hidden; transition: max-height 0.4s;">
                <p class="question-text">If you have chronic diseases or have recently undergone surgery, please
                    consult a doctor before starting the course. Exercises should not cause pain or
                    discomfort.</p>
            </div>
        </div>
        <div class="questionsContainer-item">
            <div class="questionsContainer-item-top">
                <p class="question-text q-main">How can I get the most out of the course?</p>
                <p class="label">
                    +
                </p>
            </div>
            <div class="questionsContainer-item-bottom"
                style="max-height: 0px; overflow: hidden; transition: max-height 0.4s;">
                <p class="question-text">Follow Karyna’s recommendations, perform the exercises regularly (4-6
                    times a week), and remember the importance of proper nutrition and rest. Regular
                    practice will lead to the best results.</p>
            </div>
        </div>
        <div class="questionsContainer-item">
            <div class="questionsContainer-item-top">
                <p class="question-text q-main">I'm 40+. Will this work for me?</p>
                <p class="label">
                    +
                </p>
            </div>
            <div class="questionsContainer-item-bottom"
                style="max-height: 0px; overflow: hidden; transition: max-height 0.4s;">
                <p class="question-text">
                    Age doesn't matter. We have students in their 50s and
                    60s making incredible progress.</p>
            </div>
        </div>

    </div>

</div>