
<div class="swiper_slider" data-component>
    <h2 class="main-title">
        <span>Testimonials </span>
    </h2>
  <div class="swiper main-slider">
    <div class="swiper-wrapper">
      <img loading="lazy" src="../../assets/images/slider-sw-1.webp" class="swiper-slide" alt="swiper-slide">
      <img loading="lazy" src="../../assets/images/slider-sw-2.webp" class="swiper-slide" alt="swiper-slide">
      <img loading="lazy" src="../../assets/images/slider-sw-3.webp" class="swiper-slide" alt="swiper-slide">
      <img loading="lazy" src="../../assets/images/slider-sw-4.webp" class="swiper-slide" alt="swiper-slide">
      <img loading="lazy" src="../../assets/images/slider-sw-5.webp" class="swiper-slide" alt="swiper-slide">
      <img loading="lazy" src="../../assets/images/slider-sw-6.webp" class="swiper-slide" alt="swiper-slide">
      <img loading="lazy" src="../../assets/images/slider-sw-7.webp" class="swiper-slide" alt="swiper-slide">
      <img loading="lazy" src="../../assets/images/slider-sw-8.webp" class="swiper-slide" alt="swiper-slide">
      <img loading="lazy" src="../../assets/images/slider-sw-9.webp" class="swiper-slide" alt="swiper-slide">
    </div>

    <!-- крапки -->
    <div class="swiper-bottom">
        <div class="swiper-pagination"></div>

        <!-- стрілки -->
        <div class="swiper-buttons">
            <button class="swiper-button-prev" aria-label="Previous slide"></button>
            <button class="swiper-button-next" aria-label="Next slide"></button>
        </div>
    </div>
  </div>
</div>