<footer class="footer" id="footer" data-component>
        <div class="footer-bg">
            <div class="footer-timer">
                <div class="footer-timer-item">
                    <h3 class="footer-timer-value">23</h3>
                    <p class="footer-timer-time">hours</p>
                </div>
                <div class="footer-timer-item">
                    <h3 class="footer-timer-value">58</h3>
                    <p class="footer-timer-time">minutes</p>
                </div>
                <div class="footer-timer-item">
                    <h3 class="footer-timer-value">33</h3>
                    <p class="footer-timer-time">seconds</p>
                </div>
            </div>
            <a href="https://zubalenok.kwiga.com/o/v43QfyBksQ5n/payment" class="footerButton">
                <p>Yes, - 80% OFF NOW</p>
                <span>Originally 119€ - now for less than 0,6€/day</span>
            </a>
        </div>
    </footer>