<header class="header_2">
    <div class="header_2_top">
        <include src="components/start_date_badge_3/start_date_badge_3.html"></include>
        <img src="../../assets/images/rating.webp" class="rating-img desctop-rating" />
    </div>
    <div class="header_2-offer">
        <h1 class="header_2-title">
            Hip
            <br>
            <span>
                Mobility
            </span>
        </h1>
        <img src="../../assets/images/text-line-mobile.webp" class="header_2-text-line-mobile" alt="text-line" data-component>
        <img src="../../assets/images/text-line-desctop.webp" class="header_2-text-line-desctop" alt="text-line" data-component>
        <div class="header_2-content">
            <div class="header_2-content-lesons">
                <h3 class="header_2-content-lesons-title">
                    40+
                </h3>
                <p class="header_2-content-lesons-text">
                    Top lessons from<br>bestseller courses
                </p>
                <img src="../../assets/images/header-poster-1.webp" alt="">
                <img src="../../assets/images/header-poster-2.webp" class="header-poster-desctop-1" alt="">
                <img src="../../assets/images/header-poster-3.webp" class="header-poster-desctop-2" alt="">
            </div>
            <img src="../../assets/images/karina.webp" class="header_2-karina" alt="" data-component>
             <img src="../../assets/images/karina-mob.webp" class="header_2-karina-mob" alt="" data-component>
        </div>
        <a href="https://zubalenok.kwiga.com/o/0ygnXGH9h3m3/payment" class="header_2_price">
            <div class="header_2_price-top">
                <h3 class="header_2_price-top-left">
                    49€
                </h3>
                <h4 class="header_2_price-top-right">
                    199€
                </h4>
            </div>
            <button class="header_2_price-button">
                JOIN NOW
            </button>
        </a>
        <img src="../../assets/images/rating.webp" class="rating-img mobile-rating" />
    </div>

</header>