.start_date_badge_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px auto 0;
  gap: 10px;

  &-left {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;

    border-radius: 56px;
    margin: 0;
    min-width: 168px;
    height: 39px;
    background: linear-gradient(90deg, #ff0202 0%, #990101 100%);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-right {
    font-weight: 500;
    font-size: 14px;
    line-height: 65%;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    margin: 0;
    border-radius: 32px;
    background: #fff;
    white-space: nowrap;

    min-width: 168px;
    height: 39px;
    gap: 5px;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 395px) {
  .s5__content {
    &-number {
      font-size: 100px;
    }

    &-text {
      font-size: 12px;
    }

    &-top-title {
      font-size: 17px;
    }
  }

  .start_date_badge_1 {
    &-left {
      font-size: 12px;
      min-width: 150px;
      height: 35px;
    }

    &-right {
      font-size: 12px;
      line-height: 65%;
      min-width: 150px;
      height: 35px;
    }
  }
}
