<header class="header_component_3" id="about">
    <div class="header_component_3-wrapper">
        <div class="blue-lineTrack">
            <div class="blue-lineTrack-row">
                <img src="../../assets/images/white-star.png" alt="">
                <h3>100 Gift Kits Only</h3>
                <img src="../../assets/images/white-star.png" alt="">
                <h3>100 Gift Kits Only</h3>
                <img src="../../assets/images/white-star.png" alt="">
                <h3>100 Gift Kits Only</h3>
                <img src="../../assets/images/white-star.png" alt="">
                <h3>100 Gift Kits Only</h3>
                <img src="../../assets/images/white-star.png" alt="">
                <h3>100 Gift Kits Only</h3>
                <img src="../../assets/images/white-star.png" alt="">
                <h3>100 Gift Kits Only</h3>
                <img src="../../assets/images/white-star.png" alt="">
                <h3>100 Gift Kits Only</h3>
                <img src="../../assets/images/white-star.png" alt="">
                <h3>100 Gift Kits Only</h3>
                <img src="../../assets/images/white-star.png" alt="">
                <h3>100 Gift Kits Only</h3>
                <img src="../../assets/images/white-star.png" alt="">
                <h3>100 Gift Kits Only</h3>
                <img src="../../assets/images/white-star.png" alt="">
                <h3>100 Gift Kits Only</h3>
                <img src="../../assets/images/white-star.png" alt="">
                <h3>100 Gift Kits Only</h3>
                <img src="../../assets/images/white-star.png" alt="">
                <h3>100 Gift Kits Only</h3>
                <img src="../../assets/images/white-star.png" alt="">
                <h3>100 Gift Kits Only</h3>
                <img src="../../assets/images/white-star.png" alt="">
                <h3>100 Gift Kits Only</h3>
                <img src="../../assets/images/white-star.png" alt="">
                <h3>100 Gift Kits Only</h3>
                <img src="../../assets/images/white-star.png" alt="">
                <h3>100 Gift Kits Only</h3>
                <img src="../../assets/images/white-star.png" alt="">
                <h3>100 Gift Kits Only</h3>
                <img src="../../assets/images/white-star.png" alt="">
                <h3>100 Gift Kits Only</h3>
                <img src="../../assets/images/white-star.png" alt="">
                <h3>100 Gift Kits Only</h3>
                <img src="../../assets/images/white-star.png" alt="">
                <h3>100 Gift Kits Only</h3>
            </div>
        </div>
        <div class="content-top">
            <include src="components/start_date_badge_1/start_date_badge_1.html"></include>
            <button class="content-top-burger" id="burger-button">
                <div class="content-top-burger-1"></div>
                <div class="content-top-burger-2"></div>
                <div class="content-top-burger-3"></div>
            </button>
        </div>
        <div class="burger-menu">
            <button id="burger-close" class="content-top-burger burger-menu-close">
                <div class="content-top-burger-1"></div>
                <div class="content-top-burger-3"></div>
            </button>
            <ul class="burger-menu-list">
                <li>
                    <a href="#about" class="burger-menu-list-link active" style="color: #ff7300;">About</a>
                </li>
                <li>
                    <a href="#plan" class="burger-menu-list-link">Your plan</a>
                </li>
                <li>
                    <a href="#deliverable" class="burger-menu-list-link"> gift kit</a>
                </li>
                <li>
                    <a href="#contacts" class="burger-menu-list-link">Contact</a>
                </li>
            </ul>
        </div>
        <div class="content-navigations">
            <ul class="content-navigations-list">
                <li>
                    <a href="#about" class="content-navigations-list-link active">About</a>
                </li>
                <li>
                    <a href="#plan" class="content-navigations-list-link">Your plan</a>
                </li>
                <li>
                    <a href="#deliverable" class="content-navigations-list-link">Gift kit</a>
                </li>
                <li>
                    <a href="#contacts" class="content-navigations-list-link">Contact</a>
                </li>
            </ul>
            <div class="content-navigations-row">
            <a href="https://zubalenok.online/shop/item/12005" class="content-navigations-button">
                start transformation
            </a>
            <div class="timer-row">
                <div class="timer-row-item">
                    <h3 class="timer-item-value" id="header-hours">
                        23
                    </h3>
                    <span class="timer-item-title">
                        hours
                    </span>
                </div>
                <div class="timer-row-item">
                    <h3 class="timer-item-value" id="header-min">
                        59
                    </h3>
                    <span class="timer-item-title">
                        min
                    </span>
                </div>
                <div class="timer-row-item">
                    <h3 class="timer-item-value" id="header-sec">
                        59
                    </h3>
                    <span class="timer-item-title">
                        sec
                    </span>
                </div>
            </div>
            </div>
        </div>
        <div class="content-body">
            <div class="content-mid">
                <h1 class="content-mid-title">
                    Strength
                    <br>
                    <span>&</span>
                    Stretch
                </h1>
                <div class="content-mid-box">
                    <img src="../../assets/images/black-star.png" alt="" class="content-mid-box-star">
                    <div>
                        <h3 class="content-mid-box-blueTitle">
                            your No stiffness/pain guarantee:
                            <br>
                            <span>All-Year power & Flow Approach</span>
                        </h3>
                        <h3 class="content-mid-box-title">
                            Your All-Year Strength<br>& Flow System
                        </h3>
                    </div>
                </div>
                <div class="content-mid-bottom">
                    <div class="content-mid-bottom-items">
                        <div class="bottom-items-item">
                            <h3 class="bottom-items-item-title">
                                Yoga blocks
                            </h3>
                            <img class="bottom-items-item-img-1" src="../../assets/images/line-img-1.webp" alt="">
                        </div>
                        <div class="bottom-items-item">
                            <div class="bottom-items-item-plus">
                                <div class="bottom-items-item-plus-1"></div>
                                <div class="bottom-items-item-plus-2"></div>
                            </div>
                            <h3 class="bottom-items-item-title">
                                Yoga mat
                            </h3>
                            <img class="bottom-items-item-img-2" src="../../assets/images/line-img-2.webp" alt="">
                        </div>
                        <div class="bottom-items-item">
                            <div class="bottom-items-item-plus">
                                <div class="bottom-items-item-plus-1"></div>
                                <div class="bottom-items-item-plus-2"></div>
                            </div>
                            <h3 class="bottom-items-item-title">
                                2 Type of<br>bands
                            </h3>
                            <img class="bottom-items-item-img-3" src="../../assets/images/line-img-3.webp" alt="">
                        </div>
                    </div>
                    <h3 class="content-mid-bottom-title">
                        Get Gift Kit
                        <br>
                        <span>Delivered for Free</span>
                    </h3>
                </div>
            </div>
            <div class="content-bottom">
                <a href="https://zubalenok.online/shop/item/12005" class="content-bottom-price">
                    <h2 class="content-bottom-price-new">
                        199€
                    </h2>
                    <h3 class="content-bottom-price-old">
                        999€
                    </h3>
                </a>
                <img src="../../assets/images/header_mainImag-3.webp" alt="header_mainImag-3"
                    class="content-bottom-karina" data-component>
            </div>
        </div>
    </div>
    <div class="discount-body">
        <a href="https://zubalenok.online/shop/item/12005" class="discount-body-value">
            get
            <br>
            -80%
            <br>
            off
        </a>
    </div>
    <div class="blue-shadow"></div>
    <div class="orange-shadow"></div>
</header>