<div class="bonus_green component-gap" data-component>
    <div class="bonus_green-content">
        <h4 class="bonus_green-content-underTitle">
            Buy Now and get 
        </h4>
        <h3 class="bonus_green-content-title">
            Special bonus
        </h3>
        <div class="bonus_green-content-bottom">
            <div class="content-bottom-info">
                <div class="content-bottom-info-wrp">
                    <h5 class="content-bottom-info-title">
                        2 Back Mobility Sessions
                    </h5>
                    <p class="content-bottom-info-text">
                        Unlock Your Upper Body
                    </p>
                </div>
                <div class="content-bottom-info-posters">
                    <img loading="lazy" src="../../assets/images/bonus-poster-1.webp" alt="">
                    <img loading="lazy" src="../../assets/images/bonus-poster-2.webp" alt="">
                </div>
            </div>
            <img loading="lazy" src="../../assets/images/bonus-img-mobile.webp" class="bonus-img-mobile" alt="">
            <img loading="lazy" src="../../assets/images/bonus-img-desctop.webp" class="bonus-img-desctop" alt="">
        </div>
    </div>
</div>