<section class="contacts">
    <h2 class="contacts-title">
        <span>Contact</span>
        Information
    </h2>
    <h3 class="contacts-subTitle">
        Social Media Links:
    </h3>
    <div class="contacts-nav">
        <a href="https://www.instagram.com/zubalenok/">
            <img src="../../assets/icons/inst-new.png" alt="">
            Zubalenok
        </a>
        <a href="https://www.instagram.com/zubalenok.team/">
            <img src="../../assets/icons/support-new.png" alt="">
            Support
        </a>
        <a href="mailto:SUPPORT_ZUBALENOK@ZBL.AGENCY">
            <img src="../../assets/icons/email-new.png" alt="">
            Email
        </a>
    </div>
    <div class="support_link">
        <a href="mailto:SUPPORT_ZUBALENOK@ZBL.AGENCY">SUPPORT_ZUBALENOK@ZBL.AGENCY</a>
    </div>
    <a href="/policy" style="display: block; text-align: center" class="privacy">Privacy
        Policy and User Agreement</a>
</section>