<section class="slider_video_1" data-component>
    <h3 class="slider_video_1-title">
        <img src="./assets/images/video.png" alt="">
        Video Testimonials
    </h3>
    <div class="slider_video_1-slider">
        <div class="slider_video_1-trigger" data-video-src=".././assets/video/s_v_1-video-1.mp4">
            <img src=".././assets/posters/s_v_1-poster-1.webp" alt="">
        </div>
        <div class="slider_video_1-trigger" data-video-src=".././assets/video/s_v_1-video-2.mp4">
            <img src=".././assets/posters/s_v_1-poster-2.webp" alt="">
        </div>
        <div class="slider_video_1-trigger" data-video-src=".././assets/video/s_v_1-video-3.mp4">
            <img src=".././assets/posters/s_v_1-poster-3.webp" alt="">
        </div>
        <div class="slider_video_1-trigger" data-video-src=".././assets/video/s_v_1-video-4.mp4">
            <img src=".././assets/posters/s_v_1-poster-4.webp" alt="">
        </div>
        <div class="slider_video_1-trigger" data-video-src=".././assets/video/s_v_1-video-5.mp4">
            <img src=".././assets/posters/s_v_1-poster-5.webp" alt="">
        </div>
        <div class="slider_video_1-trigger" data-video-src=".././assets/video/s_v_1-video-6.mp4">
            <img src=".././assets/posters/s_v_1-poster-6.webp" alt="">
        </div>
        <div class="slider_video_1-trigger" data-video-src=".././assets/video/s_v_1-video-7.mp4">
            <img src=".././assets/posters/s_v_1-poster-7.webp" alt="">
        </div>
        <div class="slider_video_1-trigger" data-video-src=".././assets/video/s_v_1-video-8.mp4">
            <img src=".././assets/posters/s_v_1-poster-8.webp" alt="">
        </div>
        <div class="slider_video_1-trigger" data-video-src=".././assets/video/s_v_1-video-9.mp4">
            <img src=".././assets/posters/s_v_1-poster-9.webp" alt="">
        </div>
        <div class="slider_video_1-trigger" data-video-src=".././assets/video/s_v_1-video-10.mp4">
            <img src=".././assets/posters/s_v_1-poster-10.webp" alt="">
        </div>
    </div>

    <div class="slider_video_1-buttons">
        <button class="slider_video_1-buttons-prev">
            <img src="./assets/images/arrow-l.png" alt="">
        </button>
        <button class="slider_video_1-buttons-next">
            <img src="./assets/images/arrow-r.png" alt="">
        </button>
    </div>
</section>

<div class="slider_video_1-popup" id="videoPopup">
    <div class="slider_video_1-popup-overlay"></div>

    <div class="slider_video_1-popup-content">
        <button class="slider_video_1-popup-close">✕</button>
        <video id="popupVideo" controls playsinline preload="metadata"></video>
    </div>
</div>