<header class="header" data-component="main">
    <div class="section-1-top open-popup-btn">
        <p class="section-1-top-left">
            ONLINE COURSES
        </p>
        <div class="section-1-top-right">
            <img src="./assets/images/house.png" alt="">
            <p>Train At Home</p>
        </div>
    </div>
    <h1 class="header-title">
        1 year
        <br>
        access to
    </h1>
    <h2 class="header-subTitle">
        all programs
    </h2>
    <img src="./assets/images/karina.webp" class="karina" alt="">
    <div class="header-programs">

        <h2 class="header-programs-value">
            10
        </h2>
        <h3 class="header-programs-title">
            Programs
            <br>
            <span>+ All Courses Updates</span>
        </h3>
    </div>
    <div class="header-price">
        <h2 class="header-price-title">
            199€
        </h2>
        <p class="header-price-text">
            was 899€
        </p>
    </div>
    <div class="marquee-container">
        <div class="marquee-content" id="marquee">
            <img src="./assets/images/slide-fon-1.webp" alt="1">
            <img src="./assets/images/slide-fon-2.webp" alt="2">
            <img src="./assets/images/slide-fon-3.webp" alt="3">
        </div>
    </div>
    <button class="header-button open-popup-btn">
        unlock access
        <div class="header-button-discount">
            save
            <br>
            <span>
                80%
            </span>
        </div>
    </button>
    <p class="header-bootom-text">
        СLEAR PATH FOR YOUR BODY is waiting!
    </p>
</header>