<div class="inside_components component-gap" data-component>
    <h2 class="main-title">
        what is
        <span>
            inside?
        </span>
    </h2>
    <div class="inside_components-wrapper">
        <img loading="lazy" src="../../assets/images/train-karina.webp" alt="" class="inside_components-wrapper-img">
        <div class="inside_components-wrapper-elements">
            <div class="wrapper-element-row">
            <div class="wrapper-element">
                <h3 class="wrapper-element-title">
                    <div>
                        Month 1
                    </div>
                </h3>
                <h4 class="wrapper-element-subTitle">
                    Set Up the Base
                </h4>
                <div class="wrapper-element-video">
                    <img src="../../assets/images/train-icon-1.webp" alt="">
                    <img src="../../assets/images/train-icon-2.webp" alt="">
                </div>
            </div>
            <div class="wrapper-element">
                <h3 class="wrapper-element-title">
                    <div>
                        Month 2
                    </div>
                </h3>
                <h4 class="wrapper-element-subTitle">
                    Active Control<br>& Mobility
                </h4>
                <div class="wrapper-element-video">
                    <img src="../../assets/images/train-icon-3.webp" alt="">
                    <img src="../../assets/images/train-icon-4.webp" alt="">
                </div>
            </div>
            </div>
            <div class="wrapper-element">
            <h3 class="wrapper-element-title">
                <div>
                    Month 3
                </div>
            </h3>
            <h4 class="wrapper-element-subTitle">
                Advance & Master<br>the Range
            </h4>
            <div class="wrapper-element-video">
                <img loading="lazy" src="../../assets/images/train-icon-5.webp" alt="">
                <img loading="lazy" src="../../assets/images/train-icon-6.webp" alt="">
            </div>
        </div>
        </div>
        
    </div>
</div>
</div>