<div class="pain_components component-gap" data-component>
    <h2 class="main-title">
        It’s Time to Live
        <br>
        <span>
            without Pain!
        </span>
    </h2>
    <div class="pain_components-wrapper">
        <img loading="lazy" src="../../assets/images/pain-karina.webp" alt="" class="pain_components-wrapper-img">
        <div class="pain_components-wrapper-elements">
            <div class="elements-item">
                <img loading="lazy" src="../../assets/images/pain-icon-1.webp" alt="" class="elements-item-icon">
                <div>
                    <h3 class="elements-item-title">
                        Do Workouts Without Pain
                    </h3>
                    <p class="elements-item-text">
                        Yoga, Running, Dancing or Lifting - shouldn't hurt<br>Unlock tight muscles. Move freely again.
                    </p>
                </div>
            </div>
            <div class="elements-item">
                <img loading="lazy" src="../../assets/images/pain-icon-2.webp" alt="" class="elements-item-icon">
                <div>
                    <h3 class="elements-item-title">
                        No Knee Pain
                    </h3>
                    <p class="elements-item-text">
                        Tight hips force knees to compensate in bad<br>alignment. Opened hips make knees track straight.
                    </p>
                </div>
            </div>
            <div class="elements-item">
                <img loading="lazy" src="../../assets/images/pain-icon-3.webp" alt="" class="elements-item-icon">
                <div>
                    <h3 class="elements-item-title">
                        No Lower Back Pain
                    </h3>
                    <p class="elements-item-text">
                        80% of lower back pain comes from tight hips.<br>Fix the hips = fix the back
                    </p>
                </div>
            </div>
            <div class="elements-item">
                <img loading="lazy" src="../../assets/images/pain-icon-4.webp" alt="" class="elements-item-icon">
                <div>
                    <h3 class="elements-item-title">
                        Fix Your Posture Naturally
                    </h3>
                    <p class="elements-item-text">
                        Tight hip flexors tilt pelvis & round shoulders.<br>Release them — so posture improves automatically.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>